.card{
    width: 25vw;
     margin: auto; 
     margin-bottom: 6rem;
}
.card-header{
    font-size: 2rem;
    padding: 1rem;
    color: white;
    background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
}

a:hover{
    text-decoration: underline;
}
.forgotform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgotbtn{
 margin: 1rem 0;
}

.requiredfield{
    display: none;
}
.bottomlink{
    float: right;
    margin-top: 1rem;
}


@media only screen and (max-width:350px) {
    .card {
        width: 100%;
        padding-bottom: 4rem;
    }
}
@media only screen and (min-width:351px) and (max-width:499px) {
    .card {
        width: 80%;
    }
   
}
@media only screen and (min-width: 500px) and (max-width:699px) {

   .card{
    width: 60%;
   }
}
@media only screen and (min-width: 700px) and (max-width:999px) {
    .card {
        width: 50%;
        
    }
}
@media only screen and (min-width: 1000px) {
    .card {
        width: 30%;
    }
}