<div class="container-fluid" style="position: absolute; top: 7rem">
    <div class="card forgotcard" >
      <div class="card-header text-center">Forgot Password</div>
      <div class="card-body">
        <form [formGroup]="forgotForm" class="forgotform" (ngSubmit)="verifyemailid(forgotForm.value)">
         
        
              <label for="email" style="margin-bottom: 1rem;">Please enter your registered email where we will send you the reset password link</label>
              <input
                type="email"
                class="form-control forgotemail"
                placeholder="john@gmail.com"
                formControlName="forgotemail"
              />
              <div *ngIf="! emailvalue?.valid &&(emailvalue?.dirty || emailvalue?.touched)" style="color: red;">
                Email is required
              </div>
              
                  <button class="btn btn-primary forgotbtn text-center" [disabled]="!forgotForm.valid" >Verify Email Id</button>
           
                <div class="bottomlink">

                    Ohh I remember?
                    <a style="color: rgb(45, 141, 252); cursor: pointer;" (click)="loginPage()">Back to Login</a>
                </div>
        </form>
      </div>
    </div>
  </div>
  


