<div class="sellerheader">
    <div class="container-fluid d-flex justify-content-between ">
        <div><a class="navbar-brand m-0" [routerLink]="['']"> ONLINE <span class="store">LEARNING PLATFORM</span> </a></div>
        <div style="font-weight: bold;color: steelblue;font-size: large ;width: 25rem;" class="nav">
        <ul>
            <li (click)="goTo('userDashboard','')" >Home</li>
            <li (click)="goTo('userDashboard/enrolled-courses','')" >Enrolled Courses</li>
            <li (click)="logout()" >Logout</li>
        </ul>    
        </div>
        <i class="fa-solid fa-bars bars" (click)="toggle(dropdown)"></i>
        <!-- {{sellername}} -->
    </div>
</div>

<div class="dropdown" #dropdown>
            <li (click)="goTo('userDashboard',dropdown)" style="margin-top: 20px;">Home</li>
            <li (click)="goTo('userDashboard/enrolled-courses',dropdown)" >Enrolled Courses</li>
            <li (click)="logout()" style="width: 90%;background-color: wheat;border-radius: 10px;text-align: center;color: black; cursor: pointer;">Logout</li>
</div>

<div class="below-content">
    <router-outlet></router-outlet>
</div>

