<div class="ctr">
    <div class="cert-container">
        <div class="border-gray">
          <div class="border-red">
            <div class="content">
                <!-- <img id="mt-logo" alt="Logo Goes Here" /> -->
                 <h4>ONLINE <span style="color: orange;">LEARNING PLATFORM</span></h4>
                <img id="mt-stamp" src="https://png.pngtree.com/png-vector/20220614/ourmid/pngtree-vector-completed-stamp-illustration-background-grunge-vector-png-image_13888860.png" alt="Certified Stamp" />
                
                    <ul class="credentials">
                      <li>
                          <p id="cert-id">Certificate Id: <span>{{certificateData?.certificateId}}</span></p>
                      </li>
                      <li>
                          <!-- <p id="host-server-id">Hosting Server Id: <span>Server_id</span></p> -->
                      </li>
                      <li>
                          <!-- <p id="lms-id">Learning Management System Id: <span>lms_id</span></p> -->
                      </li>
                    </ul>
                
                  <div class="copytext-container">
                      <div class="congrats-copytext">
                          <h1>Certificate of Completion</h1><br>
                          <h2>Congratulations <span>{{certificateData?.name}}</span></h2><br>
                          <h3 id="user-id-string">User Id: <span>{{certificateData?.userId}}</span></h3>
                      </div>
                      
                      <div class="course-copytext">
                          <h1>Course on : <span>{{certificateData?.courseName}}</span></h1><br>
                          <!-- <h2>Course Completed on: <span>certification_date</span></h2><br> -->
                          <!-- <h3 id="course-id-string">Course Id: <span>course_id</span></h3> -->
                          
                      </div>
                      <!-- <div class="address-copytext">
                          <address>Company Name <br> Company Street Address <br> City, State Zip</address>
                          <a href="#" id="mt-site"><em>OnlineLearningPlatform.com</em></a>
                      </div> -->
                  </div>
            </div>
          </div>
        </div>
      </div>
</div>

