<div class="sellerheader">
    <div class="container-fluid d-flex justify-content-between ">
        <div><a class="navbar-brand m-0" [routerLink]="['/createrDashboard']"> ONLINE <span class="store">LEARNING PLATFORM</span> </a></div>
        <div style="font-weight: bold;color: steelblue;font-size: large"><strong class="username">Welcome {{username}}</strong><i class="fa-solid fa-right-from-bracket" style="font-size: 20px; cursor: pointer; margin-left: 10px;" (click)="signOut()"></i></div>
        
        <!-- {{sellername}} -->
    </div>
</div>

